<div class="container">
    <div>
<label for="fayl">Yukle</label><input type="file" name="" id="fayl">
    </div>
    <div>
<label for="muqavile">Muqavile nomresi</label><input type="text" name="" id="muqavile">
    </div>
    <div>
<label for="">Sirketin adi</label><input type="text" name="" id="">
    </div>
<button>Gonder</button>
</div>