<div class="container">
<form action="" method="post">
    <input type="text" name="company" id="" placeholder="daxil etmek istediyiniz sirketi daxil edin">
    <button type="submit">SUBMIT</button>
</form>

</div>